@charset "UTF-8";

a:link {
    color: #FC3;
}

article {
    border-color: #666666;
    background-color: white;
    width: 948px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #444444;
    padding-top: 0.5cm;
    overflow: auto;
    font-family: AGothic, sans-serif;
}

.background-navbar {
    background-color: #ECC052;
    font-weight: bold;
}

#pagecontent {
    padding-bottom: 20px;
}

.pagecontenthome {
    float: right;
    width: 75%;
}

.pagecontentleft {
    float: left;
    width: 37.5%;
}

.pagecontentright {
    float: right;
    width: 37.5%;
}

.tablea td {
    vertical-align: middle;
    empty-cells: show;
    height: 18px;
}

.newsheader {
    background-color: lightskyblue;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
    margin: 4px;
    padding: 2px;
}

.center-header {
    text-align: center;
}

.newsitem {
    margin: 4px;
    padding-bottom: 10px;
    text-align: left;
}

body {
    background-repeat: no-repeat;
    background-color: #ab722b;
}

header {
    align-items: center;
    vertical-align: middle;
}

header h1 {
    font-size: x-large;
}

header h2 {
    font-size: smaller;
    margin: 2px;
}

h1, h2, h3 {
    text-align: center;
    vertical-align: middle;
}

nav {
    width: 100%;
    margin-bottom: 10px;
}

#topmenu {
    background-color: #ECC052;
}

.style1 {
    font-size: small
}

.mass {
    width: 100%;
    border: 0;
}

.title {
    background-color: #ECC052;
}

/*ul.MenuBarHorizontal {*/
/*padding: 0;*/
/*list-style-type: none;*/
/*font-size: 100%;*/
/*width: 100%;*/
/*float: left;*/
/*background-color: #ECC052;*/
/*margin-bottom: 0;*/
/*}*/

/*ul.MenuBarHorizontal li {*/
/*margin: 0;*/
/*padding: 0;*/
/*list-style-type: none;*/
/*font-size: 110%;*/
/*text-align: left;*/
/*float: left;*/
/*}*/

/*ul.MenuBarHorizontal a {*/
/*display: block;*/
/*cursor: pointer;*/
/*background-color: #ECC052;*/
/*padding: 0.5em 0.75em;*/
/*color: #333;*/
/*text-decoration: none;*/
/*font-weight: bold;*/
/*}*/

ul.submenu {
    padding: 0;
    list-style-type: none;
    font-size: 90%;
    width: 100%;
    float: left;
    background-color: #FCE19D;
    margin-top: 0;
}

ul.submenu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 100%;
    text-align: left;
    float: left;
}

ul.submenu a {
    display: block;
    cursor: pointer;
    background-color: #FCE19D;
    padding: 0.5em 0.75em;
    color: #333;
    text-decoration: none;
}

.submenu li a.submenu-selected {
    background-color: white;
}

.tableleft {

}

.tableright {
    padding-left: 10px;
}

#mass {
    float: left;
    width: 25%;
}

.massheader {
    background-color: #377FC0;
    color: white;
    text-align: center;
}

.church-name {
    font-weight: bold;
}

.address-line {
    font-size: larger;
}

/* Google calendar */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#picture-menu {
    float: left;
    width: 25%;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

