@charset "UTF-8";

a:link {
    color: #FC3;
}

article {
    border-color: #666666;
    background-color: white;
    width: 948px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #444444;
    padding-top: 0.5cm;
    overflow: auto;
}

#pagecontent {
    padding-bottom: 20px;
}

.pagecontenthome {
    float: right;
    width: 75%;
}

.tablea td {
    vertical-align: middle;
    empty-cells: show;
    height: 18px;
}

.newsheader {
    background-color: lightskyblue;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
    margin: 4px;
    padding: 2px;
}

.newsitem {
    padding-bottom: 10px;
}

.newsitem {
    margin: 4px;
    text-align: left;
}

body {
    background-repeat: no-repeat;
    background-color: #ab722b;
}

header {
    align-items: center;
    vertical-align: middle;
}

h1, h2, h3 {
    text-align: center;
    vertical-align: middle;
}

nav {
    width: 100%;
    margin-bottom: 10px;
}

.style1 {
    font-size: small
}

.mass {
    width: 100%;
    border: 0;
}

.title {
    background-color: #ECC052;
}

ul.MenuBarHorizontal {
    padding: 0;
    list-style-type: none;
    font-size: 100%;
    width: 100%;
    float: left;
    background-color: #ECC052;
}

ul.MenuBarHorizontal li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 110%;
    text-align: left;
    float: left;
}

ul.MenuBarHorizontal a {
    display: block;
    cursor: pointer;
    background-color: #ECC052;
    padding: 0.5em 0.75em;
    color: #333;
    text-decoration: none;
}

.tableleft {

}

.tableright {
    padding-left: 10px;
}

#mass {
    float: left;
    width: 25%;
}

.massheader {
    background-color: #377FC0;
    color: white;
    text-align: center;
}

