@charset "utf-8";
.Body_18 {
    font-size: 18px;
    line-height: 20pt;
    color: #000000;
}

.Heading_18 {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    font-style: normal;
    text-align: left;
}
